@use 'common';

div.player-controls {
    flex: 1;

    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
    align-items: stretch;
}

.buzz-button {
    @include common.default-button;

    flex: 4;

    margin: 10px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:disabled) {
        background-color: darkred;
        border: 2px solid darkred;
    }

    &:disabled {
        border: 2px solid black;
    }

    &:hover:not(:disabled) {
        background-color: pink;
        color: black;
        cursor: pointer;
    }
}