@use 'common';

div.player-controls {
    flex: 1;

    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
    align-items: stretch;
}

@mixin buzz-button {
    @include common.default-button;
    flex: 4;
    margin: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buzz-button-enabled {
    @include buzz-button;

    background-color: darkred;
    border: 2px solid darkred;
    cursor: pointer;

    &:hover {
        background-color: pink;
        color: black;
    }
}

.buzz-button-disabled {
    @include buzz-button;

    border: 2px solid black;
    background-color: gray;
}

.buzz-button-throttled {
    cursor: not-allowed !important;
}

.final-jeopardy-player-controls {
    flex: 1;

    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
    align-items: stretch;
}

.final-jeopardy-control-row {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 10px;

    button {
        flex: 1;
        align-self: stretch;
    }

    input {
        margin-left: 5px;
        flex: 5;
    }
}