@use 'common';

.timer {
    flex: 1;

    display: flex;
    flex-direction: row;
    background-origin: 1px solid black;
    background-color: common.$jeopardy-blue;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.timer-segment {
    flex: 1;
    border: 1px solid black;
    margin: 3px;
    background-color: common.$background-color;
}

.timer-segment-active {
    background-color: darkred;
}