:root {
    --jeopardy-blue: #060CE9;
    --category-title-color: #DCF9FF;
    --card-font: "Helvetica Compressed", Helvetica, sans-serif;
}

html {
    background-color: #eee;
    line-height: 1.15;
    font-size: large;
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}
#root {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

div.no-connection-msg {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    line-height: 100%;
}

#lobby-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#open-games {
    padding: 10px;
    margin: 3px;
    flex: 1;
}
#new-game-form {
    padding: 10px;
    margin: 3px;
    flex: 1;
}
#new-game-form > input[type="button"] {
    padding-left: 5px;
}
#open-games-container > ul {
    list-style-type: none;
    list-style: none;
    padding-left: 0px;
    margin-top: 5px;
}
#open-games-container label {
    padding-left: 10px;
}

div.game {
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}
div.game-left-panel {
    flex: 3;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}
div.game-right-panel {
    flex: 2;

    display: flex;
    padding-left: 5px;
    /* TODO */
}
div.moderator-controls {
    flex: 2;

    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
}
div.moderator-controls-inner {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
}
div.answer-eval-buttons {
    flex: 1;

    display: flex;
    flex-direction: column;
}
button.eval-button-correct {
    flex: 1;
    background-color: green;
    color: white;
    border: 2px solid black;
    margin: 10px;
}
button.eval-button-correct[disabled] {
    background-color: gray;
}
button.eval-button-incorrect {
    flex: 1;
    background-color: darkred;
    color: white;
    border: 2px solid black;
    margin: 10px;
}
button.eval-button-incorrect[disabled] {
    background-color: gray;
}
button.new-board-button {
    flex: 1;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
ul.current-stats {
    flex: 1;
    font-size: small;
    list-style-type: none;
    font-family: sans-serif;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.board {
    flex: 3;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    margin: 5px;

    background: var(--jeopardy-blue);
    border: 2px solid black;
}
div.category {
    flex: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
}
div.category-title {
    flex: 1;

    border: 1px solid black;
    border-bottom: 3px solid black;
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: var(--category-title-color);
    font-family: var(--card-font);
    text-shadow: 2px 2px black;
}
div.category-commentary-invis {
    display: none;
}
div.square {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    padding: 3px;

    color: goldenrod;
    font-family: var(--card-font);
    font-size: 200%;
    font-weight: bolder;
    text-shadow: 2px 2px black;
    white-space: nowrap;
}